<% content_for :pageTitle do %>Sign Up <% end %>

<% content_for :body do %>

<div class="home-block main indigo accent-1">
    <div class="container">
        <div class="row">
            <div class="col l12 m12 sm12">
                <h1 class="heading white-text" style="font-weight: 200;">Sign Up</h1>
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel white">
                            <%= form_for(:user, :url => {:action => 'sign_up'}) do |f| %>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <%= f.text_field(:first_name, class: 'validate') %>
                                        <%= f.label :first_name %>
                                    </div>
                                    <div class="input-field col s6">
                                        <%= f.text_field(:last_name, class: 'validate') %>
                                        <%= f.label :last_name %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <%= f.email_field(:email, class: 'validate') %>
                                        <%= f.label :email %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <%= f.password_field(:password, class: 'validate') %>
                                        <%= f.label :password %>
                                    </div>
                                    <div class="input-field col s6">
                                        <%= f.password_field(:password_confirmation, class: 'validate') %>
                                        <label for="password_confirmation">Password Confirmation</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
                                        </button>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>

<%= render template: "layouts/application" %>
