<% content_for :pageTitle do %>Edit Contact: <%= @contact.first_name %> <%= @contact.last_name %> <% end %>

<% content_for :body do %>

<div class="home-block main indigo accent-1">
    <div class="container">
        <div class="row">
            <div class="col offset-l2 l8 offset-m1 m10 s12">
                <h1 class="heading white-text" style="font-weight: 200;">Edit Contact</h1>
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel white">
                            <%= form_for(:contact, :url => {:action => 'update', :id => @contact.id}) do |f| %>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <%= f.text_field(:first_name, class: 'validate') %>
                                        <label for="first_name">First Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <%= f.text_field(:last_name, class: 'validate') %>
                                        <label for="last_name">Last Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <%= f.email_field(:email, class: 'validate') %>
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <%= f.text_field(:company, class: 'validate') %>
                                        <label for="company">Company</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <%= f.text_area(:notes, class: 'materialize-textarea') %>
                                        <label for="notes">Notes</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
                                        </button>
                                        <%= link_to("Cancel", {action: "index"}, :class => 'waves-effect waves-blue btn-flat') %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>

<%= render template: "layouts/application" %>
