<% content_for :pageTitle do %>Contacts <% end %>

<% content_for :body do %>
<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="row">
                <div class="col l7 m12 s12">
                    <h1 class="heading white-text" style="font-weight: 200;">All Contacts</h1>
                </div>
                <div class="col l5 m12 s12">
                    <div class="card-panel white" style="margin-bottom: 0">
                        <div class="input-field">
                            <input type="text" name="search" id="search_keywords" />
                            <label for="search_keywords">Search Keywords</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel white">
                        <% if @contacts.any? %>
                            <table>
                                <thead>
                                    <tr>
                                        <th data-sort="first_name" class="sort <% if params[:sort] == 'first_name' %><%= params[:direction] %><% end %>">
                                            First Name
                                            <% if params[:sort] == 'first_name' %>
                                                <% if params[:direction] == 'asc' %>
                                                    <i class="ion-arrow-up-b"></i>
                                                <% else %>
                                                    <i class="ion-arrow-down-b"></i>
                                                <% end %>
                                            <% end %>
                                        </th>
                                        <th data-sort="last_name" class="sort <% if params[:sort] == 'last_name' %><%= params[:direction] %><% end %>">
                                            Last Name
                                            <% if params[:sort] == 'last_name' %>
                                                <% if params[:direction] == 'asc' %>
                                                    <i class="ion-arrow-up-b"></i>
                                                <% else %>
                                                    <i class="ion-arrow-down-b"></i>
                                                <% end %>
                                            <% end %>
                                        </th>
                                        <th data-sort="company" class="sort <% if params[:sort] == 'last_name' %><%= params[:direction] %><% end %>">
                                            Company
                                            <% if params[:sort] == 'company' %>
                                                <% if params[:direction] == 'asc' %>
                                                    <i class="ion-arrow-up-b"></i>
                                                <% else %>
                                                    <i class="ion-arrow-down-b"></i>
                                                <% end %>
                                            <% end %>
                                        </th>
                                        <th style="text-align:center"><i class="material-icons">settings_applications</i></th>
                                    </tr>
                                </thead>
                                <tbody id="contact-list">
                                    <% @contacts.each do |contact| %>
                                        <tr>
                                            <td><%= contact.first_name %></td>
                                            <td><%= contact.last_name %></td>
                                            <td><%= contact.company %></td>
                                            <td style="text-align:center">
                                                <a class='dropdown-button btn blue' href='#' data-activates='dropdown<%= contact.id %>' data-hover="false">Actions</a>
                                                <ul id='dropdown<%= contact.id %>' class='dropdown-content'>
                                                    <li><%= link_to("View Details", '#', :class => 'white-text blue darken-3 details-modal-trigger', :data => {:id => contact.id}) %></li>
                                                    <li><%= link_to("Edit", {action: "edit", id: contact.id}, :class => 'white-text amber') %></li>
                                                    <li><%= link_to("Delete", '#', :class => 'white-text red delete-modal-trigger', :data => {:id => contact.id, :name => "#{contact.first_name} #{contact.last_name}"}) %></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <% else %>
                            <h4 class="blue-text center-align" style="font-weight: 200">You do not have any contacts</h4>
                            <p class="center-align"><%= link_to("Create A Contact", {action: "show_create"}, :class => 'btn btn-large blue darken-3') %></p>
                        <% end %>
                    </div>
                    <p class="right-align"><%= link_to("Create A Contact", {action: "show_create"}, :class => 'btn btn-large blue darken-3') %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "partials/delete_modal" %>

<!-- contact detail modal -->
<div id="details-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="name"></h4>
        <div class="contact-details"></div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-light btn blue">OK</a>
    </div>
</div>

<% end %>

<%= content_for :errors do %>
    var existingList;
    $(document).ready(function() {
        existingList = $('#contact-list').html();
    });
<% end %>

<%= render template: "layouts/application" %>
