<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <%= csrf_meta_tags %>

        <title><%= yield :pageTitle %> | Contact Manager</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Roboto" rel="stylesheet">

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    </head>
    <body class="indigo accent-1">
        <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to('View Contacts', {:controller => 'contacts', :action => 'index'}) %></li>
            <li><%= link_to('Add Contact', {:controller => 'contacts', :action => 'show_create'}) %></li>
        </ul>
        <nav>
            <div class="nav-wrapper blue darken-3">
                <div class="container">
                    <a href="#" class="brand-logo">Contacts</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <% if session[:user_id] %>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Contacts<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><%= link_to('Log Out', {:controller => 'auth', :action => 'logout'}) %></li>
                        <% else %>
                            <li><%= link_to('Sign Up', {:controller => 'auth', :action => 'get_sign_up'}) %></li>
                            <li class="active"><%= link_to('Sign In', {:controller => 'auth', :action => 'get_sign_in'}) %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="holder">
            <%= yield :body %>
        </div>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <script type="text/javascript">
            <% if !flash[:notice].blank? %>
                Materialize.toast('<%= flash[:notice] %>', 3000, 'red');
            <% end %>
            <% if !flash[:success].blank? %>
                Materialize.toast('<%= flash[:success] %>', 3000, 'green');
            <% end %>
        </script>
    </body>
</html>
